@import "./styles/variables/variables.scss";
@import "./styles/mixins/mixins.scss";
@import "./styles/Ad.scss";
@import "./styles/Ads.scss";
@import "./styles/Captcha.scss";
@import "./styles/Chats.scss";
@import "./styles/Header.scss";
@import "./styles/ImageSlider.scss";
@import "./styles/LogInForm.scss";
@import "./styles/NewAd.scss";
@import "./styles/Profile.scss";
@import "./styles/SignUpForm.scss";

@import url($fonts_url);

@keyframes myAnimation {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

* {
  font-family: 'Work Sans', sans-serif !important;
  @include indents(0);
}

form {
  @include flex_options(column);
  @include size(700px);
}

.half-width_field {
  @include size(345px);
  @include indents(0 !important);
  transition: all .3s ease;

  &:nth-child(2) {
    animation: myAnimation 1s linear;
  }
}

.deleting,
.loading {
  @include absolute();
  color: $primary_main;
}

h4 {
  @include size(700px);
  @include indents($padding: 16px 0 !important);
  // @include border(red, 4px);
}

.css-18lvne8-MuiList-root {
  @include indents($padding: 0 !important);
}

// .prompt {
//   @include indents(5px 0 0);
// }

a {
  cursor: pointer;
}

.menu_container {
  width: 360px;

  .skeleton {
    @include size($height: calc(48px * 7))
  }
}



.first-message_dialog {
  .seller-account_image {
    @include size(45px, 45px);
    border-radius: 50%;
    overflow: hidden;
    @include flex_center();
    margin-right: 10px;

    img {
      object-fit: cover;
      min-width: 45px;
      min-height: 45px;
    }
  }

  .seller_info {
    @include flex_options($align-items: center);
    // @include size(100px, 30px);
  }

  .MuiDialogContent-root {
    padding-bottom: 0 !important;
  }
}