.new-ad-container {
  @include indents($padding: 8px 24px 16px);
  min-height: calc(100vh - 64px);
  background-color: $secondary_bright;
  @include border-box();
  user-select: none;

  h4 {
    @include size(700px);
    @include indents($padding: 16px 0 !important);
  }

  h5 {
    @include indents(16px 0 !important);
  }

  .card {
    @include size(700px);
    @include border-box();
    @include indents(16px 0, 4px);

    #icon-button-file input {
      display: none !important;
    }

    .images {
      @include flex-options($align_items: flex-basis, $wrap: wrap);

      .image-card {
        @include relative( !important);
        @include size(160px !important, 160px);
        @include flex-options($align_items: center);
        align-self: flex-end;
        @include indents(4px);

        img {
          min-width: 160px;
          min-height: 160px;
        }
      }

      .main-image-card {
        @include relative( !important);
        @include size(180px !important, 180px);
        @include flex-options($align_items: center);
        @include indents(4px);

        img {
          min-width: 180px;
          min-height: 180px;
        }
      }

      .image-card,
      .main-image-card {
        opacity: 0;
        transition: 0.3s ease-in-out;
      }

      .image-card:hover,
      .main-image-card:hover {
        .delete-button {
          @include absolute(4px, 4px);
          background-color: #fff !important;
          animation: myAnimation 0.3s linear;
        }
      }

      .no-pointer-events {
        pointer-events: none;
      }

      .first-loading-card {
        @include flex-center();
        @include size(180px !important, 180px);
        @include indents(4px);
      }

      .loading-card {
        @include flex-center();
        @include size(160px !important, 160px);
        align-self: flex-end;
        @include indents(4px);
      }
    }

    .alert {
      margin: 4px;
      @include border-box();
    }
  }

  .deletion-backdrop,
  .loading-backdrop {
    @include absolute();
    background-color: rgba(255, 243, 224, 0.3) !important;
    @include size(100% !important, 100% !important);
  }

  .complex-form-row {
    @include flex-options($justify_content: space-between, $wrap: wrap);
    @include indents(0 0 16px !important);

    .half-width-field {
      @include size(345px);
      @include indents(0 !important);
      transition: all .3s ease;

      &:nth-child(2) {
        animation: myAnimation 1s linear;
      }
    }

    .full-width-field {
      @include indents(0 !important);
      @include size(100%);
      transition: all 3s ease-in-out;
    }
  }

  .form-row {
    @include indents(0 0 16px !important);
  }

  .price-block {
    @include flex-options($justify_content: space-between);
    @include indents(0 0 16px !important);
    align-items: top;

    .price-field {
      @include size(550px);
    }

    .price-label {
      @include size($height: 56px);
    }
  }

  .info-card {
    @include size(500px, 500px);
    background-color: $secondary_bright  !important;
    position: fixed;
    top: 150px;
    right: 16px;
  }
}