.profile_container {
  @include indents($padding: 0 20px);
  @include size($height: calc(100vh - 68px));
  background-color: $secondary_bright;

  .profile-image_container {
    @include flex_options();

    .profile_image {
      @include size(50px);
      cursor: pointer;
    }
  }

  .account_circle {
    @include size(100%, 100%);
  }

  .account_image {
    @include size(83.33px, 83.33px);
    border-radius: 50%;
    overflow: hidden;
    @include flex_center();

    img {
      object-fit: cover;
      min-width: 88.33px;
      min-height: 88.33px;
    }

  }
}



.icBut {
  width: 100px;
  height: 100px;
  padding: 0 !important;
}