.chat_container {
  @include indents(5px);
  @include flex_options();
  background-color: $secondary_bright;

  .chat {
    @include flex_options(column);
    @include border(red);
    @include size(700px, 500px);
    overflow-y: auto;

    .sent_message,
    .received_message {
      @include size(fit-content, fit-content);
      max-width: 300px;
      @include indents(5px 0, 10px);
    }

    .sent_message {
      background-color: $primary_dark;
      color: white;
      align-self: flex-end;
      border-radius: 8px 8px 0;
    }

    .received_message {
      background-color: #fff;
      align-self: flex-start;
      border-radius: 8px 8px 8px 0;
    }
  }

  form {
    @include flex_options($justify_content: space-between, $align_items: center);

    .form_row {
      @include size(calc(100% - 40px - 5px));
    }
  }

  .interlocutor {
    @include flex_options($align_items: center);
    @include size(300px, 70px);
    @include indents(0 0 5px, 5px);
    @include border_box();

    &:hover {
      background-color: $primary_bright;
      cursor: pointer;
    }

    .interlocutor_image {
      @include size(50px);
    }

    div {
      @include indents(0 0 0 5px);
    }
  }
}

.chat_container p:hover {
  text-decoration: underline;
  cursor: pointer;
}